body {
    font-family: sans-serif;
}
 main {
    background-image: linear-gradient(red,green,blue);
    color: yellow;
    

    
}
main:hover {
    border: 12px dotted green;
    border-radius: 15px;
    color:rgb(0, 255, 204);
    font-style: italic;
}


footer {
    padding: 1opx;
    background-image: linear-gradient(red,green,blue);
}

footer a {
    padding: 10px 20px;
    background-color: darkorchid;
    color: aqua;
    border: 6px solid greenyellow;
    border-radius: 12px;
    text-decoration: none;
}
